<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/index.css" type="text/css"> 
  </head>

  <body class="text-center">
      <form class="form-signin"><h1>Success, check your playlists.</h1></form>
 
  <% include ../partials/scripts %>
  </body>
  
</html>