<html>
  <head>
    <title>Login</title>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
      Playlist has been created
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>