<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
  </head>
  <body>
     
    <div class="container">
      <h2>Add up to 5 Artsits</h2>
      
      <form class="form-inline" action="/addToList" method="post">
          <div class="form-group mx-sm-1 mb-2">
            <input class="form-control" name="artistName" type="text" placeholder="Artist name">
          </div>
          <button type="submit" class="btn btn-info mb-2">Add <i class="fas fa-arrow-down"></i></button>
      </form>
      <h2>Your picks:</h2>
      <div class="row">
          <% artistInfo.forEach(function(artist) { %>
            <div class="col-lg-2">
              <img class="rounded-circle" width="140" height="140" src=<%= artist.img %>></img>
              <h4><%= artist.name %></h4>
            </div>
          <% }); %>
      </div>

      <form class="form-inline" action="/getRecommendations" method="post">
        <div class="form-group mx-sm-1 mb-2">
          <input class="form-control" name="playlistLength" type="text" placeholder="Number of songs" required>
        </div>
        <button type="submit" class="btn btn-info mb-2">Get Recommendations</button>
      </form>

      <div class="text-center">
        <p class="mt-5 mb-3">
          <a href="https://www.linkedin.com/in/mccannsean11/"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/SeanEmac"><i class="fab fa-github fa-2x"></i></a>
        </p>
      </div>

   </div>
  </body>
</html>