<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/index.css" type="text/css"> 
  </head>

  <body class="text-center">
    <form class="form-signin" action="/login" method="get">
      <img class="mb-4" src="/images/SpotifyGreen.png" alt="" width="96" height="96">
      <h1 class="h3 mb-3 font-weight-normal">Sign in to Spotify</h1>
      <button class="btn btn-light btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3">
        <a href="https://www.linkedin.com/in/mccannsean11/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/SeanEmac"><i class="fab fa-github fa-2x"></i></a>
      </p> 
    </form>
  
  <% include ../partials/scripts %>
  </body>
  
</html>