<!DOCTYPE html>
<html>
  <head>
    <title>Results Page</title>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
      <h2> Based off your inputs</h2>
      <ul style="list-style-type:none">
        <% tracks.forEach(function(track) { %>
          <li><%= track.number %> <%= track.name %> <%= track.artist %></li>
        <% }); %>
      </ul>
    </div>
    <form action="/makePlaylist" method="post">
        <input name="playlistName" type="text" class="ghost-input" placeholder="Playlist Name" required>
        <input type="submit" class="ghost-button" value="Add to your playlists">
    </form>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>